/Airport_HTC.Prototype/Library/AnnotationManager
/Airport_HTC.Prototype/Library/AssetImportState
/Airport_HTC.Prototype/Library/AssetServerCacheV3
/Airport_HTC.Prototype/Library/BuildPlayer.prefs
/Airport_HTC.Prototype/Library/BuildSettings.asset
/Airport_HTC.Prototype/Library/CurrentLayout.dwlt
/Airport_HTC.Prototype/Library/EditorUserBuildSettings.asset
/Airport_HTC.Prototype/Library/EditorUserSettings.asset
/Airport_HTC.Prototype/Library/InspectorExpandedItems.asset
/Airport_HTC.Prototype/Library/LastSceneManagerSetup.txt
/Airport_HTC.Prototype/Library/LibraryFormatVersion.txt
/Airport_HTC.Prototype/Library/MonoManager.asset
/Airport_HTC.Prototype/Library/ProjectSettings.asset

/Airport_HTC.Prototype/Library/*